<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Fluid jumbotron</h1>
            <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of its
                parent.</p>
        </div>
    </div>


    <ul class="list-group list-group-flush">
        {{#each article}}

        <li class="list-group-item row">
            <h4>{{headline}}</h4>
            <p>{{summary}}</p>

            {{!-- Link for collapse of comments --}}
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Link with href
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    Nihil anim
                    keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </li>

        {{/each}}
    </ul>

</div>



<script src="/assets/javascript/index.js"></script>