<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Fluid jumbotron</h1>
            <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of its
                parent.</p>
        </div>
    </div>


    <ul class="list-group list-group-flush">
        {{#each article}}

        <li class="list-group-item row">
            <h3>{{headline}}</h3>
            <p>{{summary}}</p>
            <a href="https://starcraft2.com/en-us{{url}}" target="#">Link to ariticle</a>

            {{!-- Link for collapse of comments --}}
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                View Comments
            </a>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <h4>Comments</h4>
                    <p>
                        {{!-- comments go here --}}
                    </p>
                </div>
            </div>
        </li>

        {{/each}}
    </ul>

</div>



<script src="/assets/javascript/index.js"></script>